@charset "UTF-8";
.banner604{;
    position: relative;
}
.banner604 a{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 604px;
    background:url("../images/banner.jpg") no-repeat top center;
}
.main{
    position: relative;
}
.slider{
    width: 730px;
    height: 453px;
    margin: 12px 0 0 220px;
    background-color: pink;
    float: left;
    position: relative;
}
.slider .tang{
    width: 10000px;
    overflow: hidden;
}
.circle{
    position: absolute;
    bottom: 8px;
    left:50%;
    margin-left: -66px;
}
.circle li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #3e3e3e;
    float: left;
    text-align: center;
    line-height: 18px;
    color: #fff;
    margin:0 2px;
    cursor: pointer;
}
.circle li.current{
    background-color: #b61b1f;
}
.arrow-l, .arrow-r{
    position: absolute;
    width: 28px;
    height: 62px;
    top:50%;
    margin-top: -31px;
    color:#fff;
    font:500 18px/62px "宋体";
    text-align: center;
    background:rgba(0,0,0,.3);
}
.arrow-l{
    left: 0;
}
.arrow-r{
    right: 0;
}
.news{
    width: 240px;
    height: 451px;
    border:1px solid #e4e4e4;
    float: right;
    margin:12px 11px 0 0;
}
.jd-news{
    height: 200px;
    border-bottom: 1px dashed #e4e4e4;
}
.jd-news .dt, .lifeservi .dt{
    height: 43px;
    border-bottom:1px dotted #e8e8e7;
    line-height: 43px;
}
.jd-news .dt h3,  .lifeservi .dt h3{
    float: left;
    font:14px/43px "microsoft yahei";
    color:#666;
    padding-left: 15px;
}
.jd-news .dt a{
    float: right;
    font:13px/43px "宋体";
    margin-right: 15px;
}
.jd-news .dd  ul{
    padding:8px 0 0 15px;
}
.jd-news .dd li{
    line-height: 28px;
}
.jd-news .dd li span{
    font-weight: 700;
    padding-right: 5px;
}
.lifeservi{
    height: 251px;
    width: 240px;
    overflow: hidden;
}
.lifeservi ul{
    width: 252px;
}
.lifeservi .ul{
    border-top:1px dotted #e4e4e4;
    overflow: hidden;
    height: 251px;
}
.lifeservi ul li{
    height: 70px;
    width: 62px;
    border: 1px solid #e4e4e4;
    float: left;
    margin: -1px 0 0 -1px;
}
.lifeservi li a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
}
.lifeservi li i{
    top:12px;
    left:18px;
    height: 25px;
    width: 25px;
    position: absolute;
    background:url(../images/icon_lifeserv.png) no-repeat right top;
}
.lifeservipic2 a i{
    background-position: right -25px;
}
.lifeservi li .song{
    background: url(../images/song.png) no-repeat top right;
}
.todays{
    position: relative;
}
.night{;
    margin: 20px 0 28px 0;
}
.night-l{
    float: left;
}
.night-r {
    width: 1000px;
    height: 160px;
    float: right;
}
.night-r li{
    float: left;
    margin-right: 1px;
}
.night-r ul{
    width: 500%;
}